%h2
  Edit your info

%form{ :action => "/users/#{ @user[:id] }", :method => :post }
  .form-row
    - # CSRF weakness here because there is no token protecting csrf on the form and there is no
    - # need to put in the current password to change passwords.
    - # Could take over the password using a form submitted from another site if the victim is
    - # logged in to chirper (has a cookie)
    .label-col
      Password:
    %input{ :type => "password", :name => 'password' }
  .form-row
    .label-col
      About me:
    %textarea{ :name => 'aboutme'}
      = @user[:aboutme]
  .form-row
    .label-col
      Location:
    %input{ :type => "text", :name => 'location', :value => "#{@user[:location]}"}
  .label-col
    %input{ :type => "submit", :value => "Update", :class => 'btn'}

