%h2
  Edit your info

%form{ :action => "/users/#{ @user[:id] }", :method => :post }
  Password:
  %input{ :type => "password", :name => 'password' }
  %br 
  About me: 
  %br
  %textarea{ :name => 'aboutme'}
    = @user[:aboutme]
  %br 
  Location:
  %input{ :type => "text", :name => 'location', :value => "#{@user[:location]}"}
  %br 
  %input{ :type => "submit", :value => "Update" }

