%p Search sheets:
%form{ :action => '/search', :method => :get }
  %input{ :type => 'text_area', :name => 'search_term' }
  %input{ :type => 'submit', :value => 'search the sheet' }

%p Share some sheet with your friends:
%form{ :action => '/sheets', :method => :post, :id => 'new_sheet' }
  %input{ :type => 'text_area', :name => 'content', :onKeyDown => "l(this.form.content, this.form.countdown, 70);", :onKeyUp => "l(this.form.content, this.form.countdown, 70);" }
  %br
  %input{:type => 'text', :readonly => true, :size => 2, :value => 70, :name => 'countdown'}
  characters left
  %input{ :type => 'submit', :value => 'sheet away' }

- unless @sheets.empty?
  %p Here is some sheet
  %ul
    - @sheets.each do |s|
      %li
        = s.content

:javascript
    function l(f, c, n) {
      if(f.value.length > n) {
        f.value = f.value.substring(0,n);
      } else {c.value = n-f.value.length;}
    }
  ;
