%head
%body
  %h1
    %a{ :href => '/'} Shitter
  %nav
    -if logged_in?
      %li
        %a{ :href => "/users/#{current_user[:id]}/edit" }=current_user[:username]
      %li
        %a{ :href => '/logout' } Logout
    -else
      %li
        %a{ :href => '/login' } Login
      %li
        %a{ :href => '/register' } Register
  .content
    = yield
