%head
  %link{ :rel => "stylesheet", :type => "text/css", :href => "/app.css" }
  %title Shitter
%body
  %section#main
    %section#top
      %h1
        %a{ :href => '/'} Shitter
      %nav.clear
        -if logged_in?
          %li
            %a{ :href => "/users/#{current_user[:id]}/edit" }=current_user[:username]
          %li
            %a{ :href => '/logout' } Logout
        -else
          %li
            %a{ :href => '/login' } Login
          %li
            %a{ :href => '/register' } Register
    - if not flash[:notice].nil?
      .flash
        = flash[:notice]
    .content
      = yield
