%h2
  Log in to your account
%form{ :action => '/login', :method => :post }
  .form-row
    .label-col
      Username:
    %input{ :type => "text", :name => 'username' }
  .form-row
    .label-col
      Password:
    %input{ :type => "password", :name => 'password' }
  .label-col
    %input{ :type => "submit", :value => "Login", :class => 'btn' }
