%h2
  Register a new account

%form{ :action => '/register', :method => :post }
  .form-row
    .label-col.wide
      Username:
    %input{ :type => "text", :name => 'username' }
  .form-row
    .label-col.wide
      Password:
    %input{ :type => "password", :name => 'password' }
  .form-row
    .label-col.wide
      Password confirm:
    %input{ :type => "password", :name => 'password_confirm' }
  .form-row
    .label-col.wide
      About me:
    %textarea{ :name => 'aboutme' }
  .form-row
    .label-col.wide
      Location:
    %input{ :type => "text", :name => 'location' }
  .label-col.wide
    %input{ :type => "submit", :value => "Register", :class => 'btn' }

%p
  %strong Note:
  your password is safe with us. With our
  %strong Revolutionary Authentication Engine(c)
  we never store your password, so there is no chance of it getting stolen!
