%p
  Here are the sheets that matched your search term
  %b
    =@search_term
-if @results.empty?
  %p No results found...
- else
  %ul
    - @results.each do |r|
      .sheet.clear
        .sheet_content
          = r.content
        .sheet_user
          = User[r[:user_id]][:username]
