%p
  Here are the chirps that matched your search term
  %b
    =@search_term
-if @results.empty?
  %p No results found...
- else
  %ul
    - @results.each do |r|
      .chirp.clear
        .user
          %small
            %strong @#{User[r[:user_id]][:username]}
        .content
          = r.content
