body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0 auto;
}

section {
  display: block;
}

#main {
  position: relative;
  margin: 0 auto;
  width: 760px;
}

#top {
  background-color: #89A9CD;
  padding: 0 15px;
}

a, a:visited {
  outline: medium none;
  text-decoration: none;
}

#main h1{
  font-size: 1.9em;
  text-shadow: 0 1px 1px black;
  text-transform: uppercase;
}

#main h1 a, #main h1 a:visited {
  color: #fff00c;
  font-size: 1.9em;
}

nav {
  position: absolute;
  right: 0;
  top: 1em;
}

#search {
  position: absolute;
  right: 30px;
}

#chirp_text_field {
  width: 300px;
  resize: none;
}

.content h2 {
  margin-top: 20px;
}

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

nav li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

nav li a, nav li a:visited {
  color: #000;
  display: block;
  float: left;
  font-weight: bold;
  font-size: 1.25em;
  margin: 5px 15px;
  padding: 5px 10px 4px;
  text-transform: uppercase;
}

.page-content {
  background-color: #84CDB7;
  padding: 20px;
}

nav li a:hover {
  color: #fff;
}

.chirp {
  padding: 15px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.chirp .content {
  word-wrap: break-word;
}

.chirp .user {
  margin-bottom: 5px;
}

#chirp_btn {
  background-color: #fff00c;
}
