body {
  font-family: Arial,Helvetica,sans-serif;
  color:#000000;
}

section {
  display:block;
}

#main {
  position:relative;
  margin: 0 auto;
  width:760px;
}

#top {
  background-color:#89A9CD;
  border-radius: 10px 10px 10px 10px;
}

a, a:visited {
  outline: medium none;
  text-decoration:none;
}

#main h1{
  font-weight:bold;
  font-size:1.9em;
  font-family: "Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
  text-shadow: 0 1px 1px black;
  text-transform:uppercase;
}

#main h1 a, #main h1 a:visited {

  color:#82370F;
  font-size:1.9em;
  margin-left:13px;
}

nav {
  display:block;
  position:absolute;
  right:0;
  top:1em;
}

#search {
  position:absolute;
  right:30;
}

#sheet_text_field {
  width:300px;
  resize:none;
}

.content h2 {
  margin-top:20px;
}

.sheet .sheet_content {
  word-wrap: break-word;
  float:left;
  width:500px !important;
}

.sheet .sheet_user {
  font-size:1.2em;
  font-weight:bold;
  float:right;
}

.clear:after {
  clear:both;
  content:".";
  display:block;
  height:0;
  visibility:hidden;
}

nav li {
  display:inline;
  margin:0px;
  padding:0px;
}

nav li a, nav li a:visited {
  color:#000000;
  display:block;
  float:left;
  font-weight:bold;
  font-size:1.25em;
  margin: 5px 15px;
  padding:5px 10px 4px;
  text-transform:uppercase;
}

.content {
  background-color:#84CDB7;
  border-left:1px solid;
  border-right:1px solid;
  border-top:1px solid;
  border-radius: 10px 10px 0px 0px;
  padding:20px 20px 20px 20px;
}

nav li a:hover {
  color:FFFFFF;
}

#search_bar {
  border-radius: 5px 5px 5px 5px;
}

.sheet {
  padding:15px 15px 15px 15px;
  border-bottom:1px solid;
}

.right {
  float:right;
}

.left {
  float:left;
}
