body {
  font-family: Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0 auto;
}

section {
  display: block;
}

#main {
  position: relative;
  margin: 0 auto;
  width: 760px;
}

#top {
  background-color: #5a3126;
  padding: 0 15px;
}

a, a:visited {
  outline: medium none;
  text-decoration: none;
}

#main h1 {
  font-size: 1.9em;
  text-transform: uppercase;
  margin-bottom: 0;
}

#main h1 a, #main h1 a:visited {
  color: #ffdc0d;
  font-size: 1.9em;
}

nav {
  position: absolute;
  right: 0;
  top: 1em;
}

#search {
  position: absolute;
  right: 30px;
}

#new_chirp {
  width: 450px;
  margin-bottom: 35px;
}

#new_chirp .picker {
  float: right;
}

#new_chirp .picker input {
  width: 160px;
}

#chirp_text_field {
  width: 100%;
  height: 60px;
  padding: 10px;
  resize: none;
  margin-bottom: 5px;
}

#new_chirp .below {
  margin-bottom: 10px;
}

.content h2 {
  margin-top: 20px;
}

.clear:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

nav li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

nav li a, nav li a:visited {
  color: #ffdc0d;
  display: block;
  float: left;
  font-weight: bold;
  font-size: 1.25em;
  margin: 5px 15px;
  padding: 5px 10px 4px;
  text-transform: uppercase;
}

nav li a:hover {
  color: #ee481e;
}

.page-content {
  background-color: #cadfde;
  padding: 20px;
}

.btn {
  border: 1px solid rgba(80, 80, 80, 0.3);
  background-color: #efefef;
}

.yellow {
  color: #ffdc0d;
}

#search #search_bar {
  padding: 5px 10px;
}

#search .btn {
  height: 26px;
}

.chirp {
  padding: 15px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}

.chirp:last-child {
  border-bottom: 0;
}

.chirp .content {
  word-wrap: break-word;
}

.chirp .user {
  margin-bottom: 5px;
  color: #5a3126;
}

#chirp_btn {
  background-color: #ffdc0d;
  height: 30px;
  width: 200px;
  font-size: 1.1em;
  color: #5a3126;
}

.flash {
  text-align: center;
  padding: 2px 0;
  color: #5a3126;
  background-color: #ee481e;
}
